<h1 class="st my-4">Edit Friend</h1>

<%= render "form", fr: @fr %>

<br>

<div>
  <%= link_to "Show this fr", @fr,class: "con1 butt" %> |
  <%= link_to "Back to frs", frs_path,class: " con1 butt" %>
</div>
